{% extends 'main/shablon.html'%}
{% block titlecontent %}
Fish list
{% endblock %}

{% block content %}

<h3 style="color:yellow">Fish</h3>

    {% if fish%}
        {% for el in fish %}
            <div style="
    border: 2px solid red;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;">
                <h4 style="color:green">{{el.name}}</h4>
                <p style="color:red">{{el.main_text}}</p>
                <p style="color:black">{{el.date}}</p>
                <p>{{el.img}}</p>
                <img id = "img"  height="300" width="250" src="">
                <script>
                    var imageSrc = "../../../media/"+"{{el.img}}";
                    document.getElementById("img").src = imageSrc;
                </script>
            </div>
        {% endfor %}
    {% else %}
        <h4>Empty...</h4>
    {%endif%}
<a href="{% url 'create' %}"><button> add fish</button></a>

{% endblock %}